* {
    font-family: serif;
}

.col4 {
    height: 550px;
    border: 1px solid rgb(44, 43, 43);
    background-color: rgb(44, 43, 43);
    color: white;
}

.col4 img {
    box-shadow: 10px 10px 20px black;
    height: 550px;
    width: 100%;
    position: relative;
    z-index: 0;
}

.col4 h3 {
    padding-left: 70px;
    padding-top: 450px;
    position: absolute;
    z-index: 1;
    text-shadow: 5px 5px 15px black;
}

.col4 h5 {
    padding-left: 130px;
    padding-top: 490px;
    position: absolute;
    z-index: 2;
    color: turquoise;
}

.icon1 i {
    padding-left: 110px;
    padding-top: 525px;
    position: absolute;
    z-index: 3;
    text-shadow: 1px 1px 5px black;
    color: white;
}

.icon2 i {
    padding-left: 135px;
    padding-top: 525px;
    position: absolute;
    z-index: 4;
    text-shadow: 1px 1px 5px black;
    color: white;
}

.icon3 i {
    padding-left: 160px;
    padding-top: 525px;
    position: absolute;
    z-index: 5;
    text-shadow: 1px 1px 5px black;
    color: white;
}

.icon4 i {
    padding-left: 185px;
    padding-top: 525px;
    position: absolute;
    z-index: 6;
    text-shadow: 1px 1px 5px black;
    color: white;
}

.icon5 i {
    padding-left: 210px;
    padding-top: 525px;
    position: absolute;
    z-index: 7;
    text-shadow: 1px 1px 5px black;
    color: white;
}

.col1 {
    height: 550px;
    border: 1px solid rgb(44, 43, 43);
    background-color: rgb(44, 43, 43);
    color: white;
}

.col1 h5 {
    color: turquoise;
}

.col1 p {
    opacity: 0.5;
    color: white;
}

.col2 {
    height: 50px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
}

.head {
    height: 40px;
    width: 743px;
    background-color: black;
}

.col3 i {
    color: turquoise;
}