* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.navbar {
    background: aqua;
}

.btnlog {
    border: 2px solid aqua;
    border-radius: 0 15px 0 15px;
    background: white;
    height: 40px;
    padding: 5px;
}


/* #logOut{
    width: 140px;
    height: 50px;
    font-size: 20px;
} */

.nav-item {
    float: right !important;
}

.mt-5 {
    border: 1px solid aqua;
    border-radius: 0 35px 35px 35px;
    box-shadow: aqua 10px 10px 10px;
}